h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
}

.blog-post {
	margin-bottom: 4rem;
	margin-left: 5vw;
	margin-right: 5vw;
}
@media (min-width: 768px) {
	.blog-post {
		margin-bottom: 4rem;
		margin-left: 15vw;
		margin-right: 15vw;
	}
}
.blog-post-title {
	margin-bottom: 0.25rem;
	font-size: 2.5rem;
}
.blog-post-meta {
	margin-bottom: 1.25rem;
	color: #999;
}
