:root {
	--bg-color: #ffffff;
	--text-color: #212529;
}

[data-bs-theme='dark'] {
	--bg-color: #212529;
	--text-color: #ffffff;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	min-height: 75rem;
	padding-top: 4.5rem;
}

@media screen and (max-width: 576px) {
	body {
		min-height: 150rem;
		padding-top: 6rem;
	}
}

.bg-plain {
	background-color: var(--bg-color);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.confirm {
	background: var(--bg-color);
	padding: 20px;
	border-radius: 8px;
	max-width: 400px;
}

.confirm-buttons {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
}

[x-cloak] {
	display: none !important;
}

.search-container {
	position: relative;
}

.search-input {
	height: 50px;
	border-radius: 30px;
	padding-left: 35px;
	border: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	color: #888;
}
