{% extends "head.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="static/css/signupLogin.css" />
{% endblock stylesheets %}
{% block content %}
<form action="app.php?route=login" class="form-signin" method="POST">
    {% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <i class="bi bi-info-circle"></i>
        {{ error }}
        <a type="button" class="btn-close" href="app.php?route=login"></a>
    </div>
    {% endif %}
    <p>Connectez-vous à votre compte</p>

    <div data-mdb-input-init class="form-outline mb-4">
        <input
                type="email"
                id="form2Example11"
                name="email"
                class="form-control"
                placeholder="Adresse mail"
        />
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <input
                type="password"
                id="form2Example22"
                name="password"
                class="form-control"
                placeholder="Mot de passe"
        />
    </div>

    <div class="text-center pt-1 mb-5 pb-1">
        <button
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                type="submit"
        >
            Se connecter
        </button>
    </div>

    <div
            class="d-flex align-items-center justify-content-center pb-4"
    >
        <p class="mb-0 me-2">Vous n'avez pas encore de compte?</p>
        <a
                type="button"
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn btn-outline-danger"
                href="app.php?route=signup"
        >
            S'inscrire
        </a>
    </div>
</form>
{% endblock content %}
